<?xml version="1.0" encoding="utf-8"?>
<configuration>
<system.webServer>
<rewrite>
<rules>
<rule name= "ProxyNext" stopProcessing ="true">
<match url ="(.*)"/>
      <serverVariables>
        <set name="HTTP_X_FORWARDED_HOST" value="{HTTP_HOST}" />
      </serverVariables>
<action type = "Rewrite" url = "http://localhost:3000/{R:1}" appendQueryString = "true"/>
</rule>
</rules>
      <allowedServerVariables>
        <add name="HTTP_X_FORWARDED_HOST" />
      </allowedServerVariables>
</rewrite>
<proxy enabled = "true" />
</system.webServer>
</configuration>